<div class="nested-fields">
  <%= f.check_box :_destroy %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= link_to_remove_association "Remove Image", f, class: "btn btn-danger "%><br><br>
</div>
